In [2]:
import pandas as pd
import random
from faker import Faker

# Initialize Faker
fake = Faker()

# Predefined roles and their relevant skills
skills_mapping = {
    'junior data scientist': ['Python', 'SQL', 'Data Visualization'],
    'senior data scientist': ['Machine Learning', 'TensorFlow', 'Natural Language Processing'],
    'junior data engineer': ['Python', 'ETL', 'Data Warehousing'],
    'senior data engineer': ['Hadoop', 'Spark', 'Data Lakes'],
    'junior software engineer': ['JavaScript', 'HTML', 'CSS'],
    'senior software engineer': ['Microservices', 'DevOps', 'Cloud Computing'],
    'junior data analyst': ['Excel', 'Tableau', 'SQL'],
    'senior data analyst': ['Statistics', 'Predictive Analytics', 'Data Modeling']
}

# Courses mapped directly to their respective role outcomes
courses_mapping = {
    'junior data scientist': [
        'Introduction to Data Science', 
        'Python for Data Science', 
        'Data Analysis with Pandas'
    ],
    'senior data scientist': [
        'Advanced Machine Learning', 
        'Deep Learning Specialization', 
        'AI for Everyone'
    ],
    'junior data engineer': [
        'Introduction to Data Engineering', 
        'ETL Fundamentals', 
        'Building Data Pipelines'
    ],
    'senior data engineer': [
        'Big Data Technologies', 
        'Cloud Data Engineering', 
        'Data Architecture and Design'
    ],
    'junior software engineer': [
        'Web Development Bootcamp', 
        'JavaScript Basics', 
        'Introduction to React'
    ],
    'senior software engineer': [
        'Microservices Architecture', 
        'DevOps Essentials', 
        'Advanced JavaScript'
    ],
    'junior data analyst': [
        'Data Analysis with Excel', 
        'SQL Basics for Data Analysis', 
        'Tableau for Beginners'
    ],
    'senior data analyst': [
        'Advanced Data Visualization', 
        'Predictive Analytics in R', 
        'Business Intelligence Essentials'
    ]
}

# Function to generate course data
def generate_course_data(courses_mapping):
    course_data = []
    course_id_counter = 1  # Start course IDs from 1
    
    for role, courses in courses_mapping.items():
        for course in courses:
            course_record = {
                'course_id': course_id_counter,  # Use sequential ID
                'course_name': course,
                'course_duration': f"{random.randint(1, 12)} months",  # Random duration between 1 to 12 months
                'price': f"${random.randint(100, 2000)}",  # Random price between $100 and $2000
                'outcome_skill': random.choice(skills_mapping[role]),  # Random skill associated with the role
                'role_outcome': role  # Assign full role title based on course
            }
            course_data.append(course_record)
            course_id_counter += 1  # Increment the course ID counter

    return course_data

# Generate course data
course_data = generate_course_data(courses_mapping)

# Convert to DataFrame
df_courses = pd.DataFrame(course_data)

# Save to CSV
df_courses.to_csv('course_data.csv', index=False)

print('Course dataset generated and saved to course_data.csv')

Course dataset generated and saved to course_data.csv

In [3]:
course = pd.read_csv("course_data.csv")
course.head()

,course_id,course_name,course_duration,price,outcome_skill,role_outcome
0,1,Introduction to Data Science,10 months,$841,SQL,junior data scientist
1,2,Python for Data Science,11 months,$1564,SQL,junior data scientist
2,3,Data Analysis with Pandas,6 months,$757,Python,junior data scientist
3,4,Advanced Machine Learning,12 months,$150,Machine Learning,senior data scientist
4,5,Deep Learning Specialization,12 months,$1433,Machine Learning,senior data scientist

In [4]:
course.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   course_id        24 non-null     int64
 1   course_name      24 non-null     object
 2   course_duration  24 non-null     object
 3   price            24 non-null     object
 4   outcome_skill    24 non-null     object
 5   role_outcome     24 non-null     object
dtypes: int64(1), object(5)
memory usage: 1.3+ KB